

/*Back to top*/
/*Back to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    /*untuk font dan icon*/
    /*
    font-size: 50px;
    */
    /*untuk font dan icon*/
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    /*untuk font dan icon*/
    /*
    color: white;
    */
    /*untuk font dan icon*/
    cursor: pointer;
    border-radius: 4px;
  }
  /*End Back to top*/
  /*End Back to top*/
/*STYLE ARIS HADISOPIYAN*/
/*Text color*/
.c-ahst{color: #e47909!important;}
.c-white{color: white;}
/*Text Link Color*/
.c-w a{color: white!important;}
.c-w a:hover{color: #e47909!important;}
.c-3 a{color: #333!important;}
.c-3 a:hover{color: #e47909!important;background-color: #333!important;}
/*Background Text*/
.bg-a1{background-color: #e47909!important;}
.bg-a2{background-color: #212529!important;}
.bg-white{background-color: white!important;}
.bg-brack{background-color: #333!important;}
/*Button Color*/
.btn-outline-ahst {
    color: #e47909;
    background-color: transparent;
    background-image: none;
    border-color: #e47909;
}
.btn-outline-ahst:hover {
    color: #212529;
    background-color: #e47909;
    background-image: none;
    border-color: #e47909;
}
.prof img{height: 30px;border-radius: 50%;padding-right: 10px;}
.cr{color: white!important; position: fixed!important; bottom: 0!important; width: 100%!important;}
.cr a{text-decoration: none!important;color: #e47909!important;}
.cr a: hover{text-shadow:0 1px 3px rgba(0,0,0,0.5)!important;}